@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/**********************************/
/************ 961px ~ *************/
/**********************************/
/* ヘッダー */
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
}
.header img {
    display: block;
    width: 100%;
    height: 80px;
}
.header__mobile {
    display: none;
}
/* ヒーローイメージ */
.hero__section {
    position: relative;
    width: 100%;
}
.hero__pc img{
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    object-fit: cover;
}
.hero__mobile {
    display: none;
}
.inner__box {
    position: absolute;
    top: 33%;
    right: 8%;
}
.inner__box h1 {
    text-align: right;
    margin-bottom: 20px;
}
.inner__box p {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    color: #fff;
}
.btn {
    position: relative;
    display: block;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    line-height: 3;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-left: auto;
    color: #000;
    background-color: #fff;
}
.btn:hover {
    color: #666666;
}
.btn span{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%,-50%);
}
/* メッセージ */
.catch {
    width: 100%;
    padding: 5% 0;
}
.catch p {
    text-align: center;
    line-height: 1.5;
}
.catch span {
    font-size: 17px;
}
/* カルーセル */
.owl-pc {
    display: block;
}
.owl-mobile {
    display: none;
}

/* グリッド */
.grid__pc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}
.grid__pc img{
    transition: transform 2.5s ease;
}
.grid__pc img:hover{
    transition: transform 5s ease;
    transform: scale(1.3);
}
.grid__mobile {
    display: none;
}
.grid__item {
    overflow: hidden;
}
.grid__left {
    width: 25%;
}
.grid__left img{
    display: block;
    width: 100%;
}
.grid__center {
    width: 25%;
}
.grid__center img{
    display: block;
    width: 100%;
}
.grid__right {
    width: 50%;
}
.right__first-row {
    position: relative;
    width: 100%;
}
.right__first-row img{
    display: block;
    width: 100%;
}
.right__second-row {
    display: flex;
    width: 100%;
}
.right__second-row img {
    display: block;
    width: 100%;
}
.grid__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}
.grid__cover p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

/* メッセージ */
.catch2 {
    position: relative;
    width: 100%;
    padding: 5% 0;
}
.catch2 p {
    text-align: center;
    line-height: 1.5;
    margin: 0 0 15px 0;
}
.catch2 span {
    font-size: 17px;
    
}
.btn__black {
    position: relative;
    display: block;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    line-height: 3;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
}
.btn__black:hover {
    color: #666666;
}
.btn__black span{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%,-50%);
}

/* ニュースレター */
.newsletter__pc {
    position: relative;
    width: 100%;
}
.newsletter__pc img{
    display: block;
    width: 100%;
}
.newsletter__mobile {
    display: none;
}
.signUp__box {
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%,-50%);
    width: 480px;
    height: 250px;
    background-color: #fff;
}
.signUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.signUp h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
.btn__signUp {
    position: relative;
    display: block;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    line-height: 3;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}
.btn__signUp:hover {
    color: #666666;
}
.btn__signUp span{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%,-50%);
}

/* フッター */
.footer__pc {
    display: block;
    width: 100%;
    border-top: 1px solid #616363;
}
.footer__pc img {
    display: block;
    width: 100%;
}
.footer__mobile {
    display: none;
}



/**********************************/
/********* 600px ~ 960px **********/
/**********************************/
@media screen and (min-width:600px) and (max-width:960px) {
/* ヘッダー */
.header {
    display: none;
}
.header__mobile {
    display: block;
    width: 100%;
    border-bottom: 1px solid #616363;
}
.header__mobile img{
    display: block;
    width: 100%;
}
/* ヒーローイメージ */
.hero__pc {
    display: none;
}
.hero__mobile {
    display: block;
}
.hero__mobile img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.inner__box {
    position: absolute;
    top: 45%;
    right: 0;
    left: 8%;
}
.inner__box h1 {
    text-align: left;
}
.inner__box p {
    font-size: 30px;
    text-align: left;
}
.btn {
    margin-left: 0;
    margin-right: auto;
}
.btn:hover {
    color: #000;
}
/* メッセージ */
.catch p {
    font-size: 14px;
}
/* カルーセル */
.owl-pc {
    display: none;
}
.owl-mobile {
    display: block;
}
/* グリッド */
.grid__pc {
    display: none;
}
.grid__mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.grid__left {
    width: 50%;
}
.grid__center {
    width: 50%;
}
.grid__right {
    width: 100%;
}
.right__first-row {
    position: relative;
    width: 100%;
}
.right__first-row img{
    display: block;
    width: 100%;
}
.right__second-row {
    display: flex;
    width: 100%;
}
.right__second-row img {
    display: block;
    width: 100%;
}
.grid__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}
.grid__cover p{
    font-size: 14px;
}

/* メッセージ */
.catch2 p {
    font-size: 14px;
}
.btn__black {
    width: 95%;
}
.btn__black:hover {
    color: #fff;
}

/* ニュースレター */
.newsletter__pc {
    display: none;
}
.newsletter__mobile {
    display: block;
    width: 100%;
}
.newsletter__mobile img{
    display: block;
    width: 100%;
}
.signUp__box {
    position: static;
    transform: none;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 5% 0;
}
.signUp {
    position: static;
    transform: none;
    width: 100%;
}
.signUp h2{
    font-size: 18px;
    text-align: center;
}
.btn__signUp {
    width: 95%;
    margin: 0 auto;
}
.btn__signUp:hover {
    color: #fff;
}
/* フッター */
.footer__pc {
    display: none;
}
.footer__mobile {
    display: block;
    width: 100%;
}
.footer__mobile img {
    display: block;
    width: 100%;
}
.btn__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #EBEBEB;
}
.btn__footer a {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 3;
    color: #000;
}
.btn__footer a:nth-child(2) {
    background-color: #000;
    color: #fff;
}

}


/**********************************/
/************ ~ 599px *************/
/**********************************/
@media screen and (max-width:599px) {
    /* ヘッダー */
.header {
    display: none;
}
.header__mobile {
    display: block;
    width: 100%;
    border-bottom: 1px solid #616363;
}
.header__mobile img{
    display: block;
    width: 100%;
}
/* ヒーローイメージ */
.hero__pc {
    display: none;
}
.hero__mobile {
    display: block;
}
.hero__mobile img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.inner__box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 4%;
}
.inner__box h1 {
    text-align: left;
}
.inner__box img{
    width: 160px;
    min-width: 160px;
}
.inner__box p {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    text-align: left;
}
.btn {
    width: 280px;
    margin-left: 0;
    margin-right: auto;
}
.btn:hover {
    color: #000;
}
/* メッセージ */
.catch p {
    font-size: 14px;
    line-height: 2;
    padding: 0 15%;
}
.catch span {
    font-size: 15px;
    letter-spacing: 0;
}
/* カルーセル */
.owl-pc {
    display: none;
}
.owl-mobile {
    display: block;
}
/* グリッド */
.grid__pc {
    display: none;
}
.grid__mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.grid__left {
    width: 50%;
}
.grid__center {
    width: 50%;
}
.grid__right {
    width: 100%;
}
.right__first-row {
    position: relative;
    width: 100%;
}
.right__first-row img{
    display: block;
    width: 100%;
}
.right__second-row {
    display: flex;
    width: 100%;
}
.right__second-row img {
    display: block;
    width: 100%;
}
.grid__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}
.grid__cover p{
    font-size: 14px;
}

/* メッセージ */
.catch2 p {
    font-size: 14px;
    line-height: 2;
    padding: 0 15%;
}
.catch2 span {
    font-size: 15px;
}
.btn__black {
    width: 95%;
}
.btn__black:hover {
    color: #fff;
}

/* ニュースレター */
.newsletter__pc {
    display: none;
}
.newsletter__mobile {
    display: block;
    width: 100%;
}
.newsletter__mobile img{
    display: block;
    width: 100%;
}
.signUp__box {
    position: static;
    transform: none;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 5% 0;
}
.signUp {
    position: static;
    transform: none;
    width: 100%;
}
.signUp h2{
    font-size: 18px;
    text-align: center;
}
.btn__signUp {
    width: 95%;
    margin: 0 auto;
}
.btn__signUp:hover {
    color: #fff;
}
/* フッター */
.footer__pc {
    display: none;
}
.footer__mobile {
    display: block;
    width: 100%;
}
.footer__mobile img {
    display: block;
    width: 100%;
}
.btn__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #EBEBEB;
}
.btn__footer a {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 3;
    color: #000;
}
.btn__footer a:nth-child(2) {
    background-color: #000;
    color: #fff;
}

}